/* 
    Created on : 01/10/2016, 12:14:57 PM
    Author     : Julie.Headford
*/

/*load local font */
@font-face {
    font-family: 'DroidSerif';
    src:local('DroidSerif');
    src: url('fonts/DroidSerif.ttf')
    format('truetype');
}

@font-face {
    font-family: 'DroidSerif-Bold';
    src:local('DroidSerif-Bold');
    src: url('fonts/DroidSerif-Bold.ttf')
    format('truetype');
}

/*site settings */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background: #fff;
    font-size: 16px;
    font-family:'DroidSerif';
    display: flex;
    flex-direction: column;
}

/*set base font size to 100% */
html{
    font-size:100%;
    height: 100%;
}
@media(min-width:60em){html{font-size: 100%}}

/*set default text to 120% (14pt) */
p {
    font-size: 120%;
    line-height: 1.2;
}

/* set headings with colour and font % for responsive equipment */
h1, h2, h3, h4, h5, h6 {
    color: #666666
}
h1 {
    font-size: 225%;
}

h2 {
    font-size: 196%;
}

h3 {
    font-size: 171%;
}

h4 {
    font-size: 150%;
}

h5 {
    font-size: 131%;
}

h6 {
    font-size: 115%;
}

/* set defalt line height for unordered lists */
ul {
    line-height: 200%;
}

/*
#wrapper
{
    width:100%;
  
}
*/

/* main element area */
.main-content {
    flex: 1 0 auto;
}
 /* wrapper for the main content elements */
#page-wrapper
{
    left: 20%;
    height: auto;
    position: fixed;
    width: 80%;
    height: 60%;
    overflow-y: auto;
    top:25%;
}
    
header{
   padding:1em;
   height: 8em;
  border-bottom: 1px solid #eaeaea;
  flex: 0 0 auto;
}

footer {
    bottom: 0;
    left: 0;
    position: absolute;
    text-align: center;
    border-top: 1px solid #eaeaea;
    padding-top: 1em;
    width: 100%;
    font-size: 80%;
    color: #666666;
    flex: 0 0 auto;
    height:10%;
    background: #fff;
}

/* rmit logo.  max-width 100% is for responsive screens */
.rlogo {
    position: fixed;
    left: 2.5em;
    max-width: 100%;
    position: fixed;
    top: 2.5em;
   /* background: url('../img/RMITlogo.png');*/
    }
    
 /* team allocation tool logo.  100% is for resonsive screens */
 .tlogo {
    max-width: 100%;
    position: fixed;
    left: 15%;
    top: 2em;
 }
 
 /*positioning for the welcom message */
 .welcome {
    left: 30%;
    position: fixed;
    top: 1em;
 }
 /*left hand navigation */
nav {
    height: 100%;
    left: 0;
    top: 11%;
    width: 19%;
    padding-top:1em;

}

.navContainer {
    float: left;
    margin-top: 1em;
    padding-left: 1em;
}

/*dropdown settings for the navigation */
.dropbtn {
    background-color: #333333;
    color: #fff;
    padding: 1em;
    border: none;
    cursor: pointer;
    width: 12em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 12em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: .8em 1em;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #333333; 
    color:#ffffff
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #585858;
}

/*logout button positioning and settings */
.logout {
    float:right;
    right: 10%;
    top:2%;
    position: fixed;
    padding-top: 2em;
    padding-bottom: 2em;
  
}

.logoutbtn {
    background: #333;
    color:#fff;
    
}

.logoutbtn:hover {
    background: #aeaeae;

}
 /*coloured menu boxes settings */

.d-box {
    width:30%; /* use 30% for 3 wide */
    height:auto;
    color: #333;
    padding: 1em;
    float:left    
}
/*the boxes are split into top and bottom parts
to ensure the elements stay in the correct positions */
.d-box .head {
    height: auto;
    padding: 1.5em;
}

.d-box .head h3 {
    float:right
}
.d-box .bottom {
    height: auto;
    border: 1px solid #000;
    padding: 1.5em;
}

.d-box .bottom a {
    text-decoration: none;
}
.d-box .bottom p {
    float: left;
}

.d-box .bottom i {
    float: right;
}

.yellow {
    background: #f1d40f;
}

.blue {
    background: #2E9AFE;
}

.green {
    background: #3ADF00;
}

.orange {
    background: #FE642E
}

.purple {
    background: #8258FA;
}

.gold {
   background:  #B18904
}

/* padding for table elements */
th, td {
    padding: 10px!important;
}

.skilltable {
    position: relative;
    margin-left: 5%;
}


/*container to hold the form elements in place */
.formContainer {
    left: 30%;
    top: 20%;
    height:100%;
    width:60%;
    position: fixed
}
 /* spacing for form label and input elements */
.login-container {
    float: left;
    top: 1%;
    padding:2%;
}

/* container to position the login elements */
.login-username-container {
  float: left;
  width: 100%;
  height: auto;
  padding: 1em;
}

/* positioning for flashdata */
.message-container {
    position: relative;
    margin-top: 0;
    width: 80%;
}

/*position the alert icons */
.alert {
    margin-bottom: 10px !important;
}

/*mobile devices */
@media screen and (min-width : 320px) and (max-width : 480px)
{
    nav {
       top:8em;
        left:0;
        width:100%;
    }
    
    .navContainer {
    float: left;
    margin-top: 1em;
    padding-left: 5em;
}
.dropbtn {
     width: 100%;
}
.box {
    width:90%;
    height:auto;
    color: #333;
    padding: 1em;
    float:left    
}


}

@media screen and (min-width : 480px) and (max-width : 1224px)
{
    nav {
       top:8em;
        left:0;
        width:100%;
    }
    
    .navContainer {
    float: left;
    margin-top: 1em;
    padding-left: 5em;
}
.dropbtn {
     width: 100%;
}

.box {
    width:90%;
    height:auto;
    color: #333;
    padding: 1em;
    float:left    
}
}
 	
@media screen and (min-width : 1224px)
{
   

}
