/* 
    Created on : 01/10/2016, 12:14:57 PM
    Author     : Julie.Headford
*/

@font-face {
    font-family: 'DroidSerif';
    src:local('DroidSerif');
    src: url('fonts/DroidSerif.ttf')
    format('truetype');
}

@font-face {
    font-family: 'DroidSerif-Bold';
    src:local('DroidSerif-Bold');
    src: url('fonts/DroidSerif-Bold.ttf')
    format('truetype');
}
body {
    background: #fff;
    font-size: 16px;
    font-family:'DroidSerif';
}

html{font-size:100%;}
@media(min-width:60em){html{font-size: 100%}}

p {
    font-size: 120%;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    color: #666666
}
h1 {
    font-size: 225%;
}

h2 {
    font-size: 196%;
}

h3 {
    font-size: 171%;
}

h4 {
    font-size: 150%;
}

h5 {
    font-size: 131%;
}

h6 {
    font-size: 115%;
}

ul {
    line-height: 200%;
}
#wrapper
{
    width:100%;
  
}

#page-wrapper
{
    left: 27em;
    min-height: 37em;
    padding: 0 0.1em;
    position: fixed;
    top: 12em;
    min-width: 50em;
    overflow-y: auto
    
}

header{
   padding:1em;
   height: 8em;
  border-bottom: 1px solid #eaeaea
}

header .container {
    height: 8em;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}


footer {
    bottom: 0;
    left: 0;
    text-align: center;
    border-top: 1px solid #eaeaea;
    position: absolute;
    width: 100%;
    font-size: 80%;
    color: #666666
}

.rlogo {
    position: fixed;
    left: 2.5em;
    max-width: 100%;
    position: fixed;
    top: 2.5em;
   /* background: url('../img/RMITlogo.png');*/
    }
 .tlogo {
    max-width: 100%;
    position: fixed;
    right: 2.5em;
    top: 2em;
 }
   
 .welcome {
    left: 15em;
    position: fixed;
    top: 1em;
 }
nav {
    float: left;
    height: 20em;
    left: 0;
    position: fixed;
    top: 11em;
    width: 25em;
}

.navContainer {
    float: left;
    margin-top: 1em;
    padding-left: 5em;
}
.dropbtn {
    background-color: #333333;
    color: #fff;
    padding: 1em;
    border: none;
    cursor: pointer;
    width: 12em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 12em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: .8em 1em;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #333333; 
    color:#ffffff
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #585858;
}

.logout {
    float:right;
    right: 2em;
    position: relative;
    padding-top: 2em;
    padding-bottom: 2em;
  
}

.logoutbtn {
    background: #333;
    color:#fff;
    
}

.logoutbtn:hover {
    background: #aeaeae;
    font-weight: 600;
}

.box {
    width:30em;
    height:auto;
    color: #333;
    padding: 1em;
    float:left    
}

.box .head {
    height: 6em;
    padding: 1em;
    
}

.box .head h3 {
    float:right
}
.box .bottom {
    height: 3em;
    border: 1px solid #000;
    padding: 1em;
}

.box .bottom a {
    text-decoration: none;
}
.box .bottom p {
    float: left;
}

.box .bottom i {
    float: right;
}

.box:hover {
    background: #BDBDBD;
}

.yellow {
    background: #f1d40f;
}

.blue {
    background: #2E9AFE;
}

.green {
    background: #3ADF00;
}

.orange {
    background: #FE642E
}

.purple {
    background: #8258FA;
}

.gold {
   background:  #B18904
}

.formContainer {
    left: 30%;
    top: 20%;
    height:100%;
    width:60%;
    position: fixed
}

.login-container {
    float: left;
    top: 1%;
    padding:2%;
}

.login-username-container {
  float: left;
  width: 100%;
  height: auto;
  padding: 1em;
}

.message-container {
      height: 0.5em;
    margin-top: 15em;
    position: relative;
    width: 20em;
}


/*mobile devices */
@media screen and (min-width : 320px) and (max-width : 480px)
{
    nav {
       top:8em;
        left:0;
        width:100%;
    }
    
    .navContainer {
    float: left;
    margin-top: 1em;
    padding-left: 5em;
}
.dropbtn {
     width: 100%;
}



}

@media screen and (min-width : 480px)
{
    
}
 	
@media screen and (min-width : 1224px)
{
    
}